<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Randomize YouTube playlists online for free. Shuffle the videos. No repetitions." />
	<meta name="theme-color" content="#b71c1c">
	<link rel='icon' href='https://music.youtube.com/favicon.ico'>
	<title>YouTube Playlist Randomizer</title>
	<link rel="stylesheet" href="style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flexibility/2.0.1/flexibility.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"></script>
</head>
<body>
	<div class="container" id="app" :class="{'dark': cfg.darkTheme}">
    	<div class="middle">
			<div class="bigline">
				<span class="logo">YouTube Playlist Randomizer</span>
			</div>
    		<div class="bigline" v-show="tab == 1">
				<input type="text" v-model="cfg.playlistURL" placeholder="YouTube Playlist Link" id="link" @keyup.Enter="okClicked" :disabled="!status.playerReady"> <button id="ok" @click="okClicked" :disabled="!status.playerReady">OK</button>
				<div id="info" :class="infoClass" v-show="info" @click="infoBarClicked">{{info}}</div>
			</div>
			<div class="gencfg" v-show="tab == 1">
				<label for="sgen">Random Number Generator: </label>
				<select id="sgen" v-model="cfg.rng" @change="saveConfig">
					<option value="0">multiplyWithCarry</option>
					<option value="1">sinBased</option>
					<option value="2">sfc32</option>
					<option value="3">mulberry32</option>
					<option value="4">xoshiro128ss</option>
					<option value="5">jsf32</option>
					<option value="6">LCG</option>
				</select>
			</div>
			<div class="cfg" v-show="tab == 1">
				<div>
					<span title="Save the playlist on your local machine, to quickly select it next time you open this page">
						<input type="checkbox" id="i1" v-model="cfg.savePlaylist" @change="saveConfig">
						<label for="i1">Save playlist</label>
					</span>
					<span title="Save the seed, so next time you open this page, you get the same random order">
						<input type="checkbox" id="i2" v-model="cfg.saveSeed" @change="saveConfig" :disabled="!cfg.savePlaylist">
						<label for="i2">Save seed</label>
					</span>
				</div><div>
					<span title="If the seed is saved, continue generating numbers from the point you've left it">
						<input type="checkbox" id="i3" v-model="cfg.savePos" @change="saveConfig" :disabled="!cfg.savePlaylist || !cfg.saveSeed">
						<label for="i3">Save position</label>
					</span>
					<span title="If this is unchecked, the playlist is just shuffled, and you can't get the same items untill it finishes playing all the videos">
						<input type="checkbox" id="i4" v-model="cfg.allowRepeat" @change="saveConfig">
						<label for="i4">Allow repetitions</label>
					</span>
				</div>
				<div class="mt20">
					<span title="Hide YouTube player controls to prevent manually switching videos in default order">
						<input type="checkbox" id="i5" v-model="cfg.showControls" @change="saveConfig" :disabled="!status.playerReady">
						<label for="i5">Show controls</label>
					</span>
					<span title="">
						<input type="checkbox" id="i6" v-model="cfg.darkTheme" @change="saveConfig">
						<label for="i6">Dark theme</label>
					</span>
				</div>
				<div class="mt20 spoiler">❓<br></div>
				<div v-if='!cfg.saveSeed' class="info info-zero info-warn">Random seed might give you more repetitions than the same seed with saved position</div>
				<div v-if='cfg.saveSeed && !cfg.savePos' class="info info-zero info-warn">You will get the same order after every page refresh, if you're not saving the position</div>
			</div>
			<div id="activePlaylist" v-show="tab == 2">
				<div>Current playlist: {{playlistIDShort}} ({{cfg.videos}} videos) <button type="button" id="editBtn" name="button" @click="editPlaylist">Edit</button></div>
				<div>Seed: {{cfg.seed}} | Position: {{cfg.pos+1}}/{{cfg.videos}} | Completions: {{cfg.lap}}</div>
			</div>
			<div class="playerwrap" v-show="tab == 2">
				<div id="player"></div>
			</div>
			<div class="mt20 controls" v-show="tab == 2">
				<button @click="playPrevVideo" :disabled="cfg.pos == 0">⏮</button>
				<button @click="playPause">⏯</button>
				<button @click="playNextVideo">⏭</button>
			</div>
    	</div>
		<div id="eg" title="eg?"></div>
	</div>
	<script src="seeded_randomizers.js"></script>
	<script src="https://www.youtube.com/iframe_api"></script>
	<script src="func.js"></script>
  <script src="main.js"></script>
	<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "7d57976f302942c4bd84a847adf5c49c"}'></script>
</body>
</html>
